<div class="mdc-layout-grid partners-list">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-3-desktop card mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-partners-card imgSource="assets/partners/mailchimp.svg" title="Mailchimp" subtitle="Construa sua marca, venda mais coisas"
                         text="Plataforma de automação de marketing. É como um segundo cérebro que ajuda milhões de clientes a encontrar sua audiência, envolver seus clientes e construir sua marca."></app-partners-card>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop card mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-partners-card imgSource="assets/partners/pipedrive.svg" title="Pipedrive" subtitle="Tornamos as pessoas imbatíveis"
                         text="Um CRM de vendas para um mínimo de entradas e máximo de resultados."></app-partners-card>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop card mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-partners-card imgSource="assets/partners/contaazul.svg" title="ContaAzul" subtitle="Controle sua empresa sem complicação"
                         text="Em vez de perder tempo organizando documentos e o financeiro de sua empresa, ultrapasse seus concorrentes na conquista de novos negócios."></app-partners-card>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop card mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-partners-card imgSource="assets/partners/pipefy.svg" title="Pipefy" subtitle="A plataforma de excelência operacional"
                         text="Ajudamos as equipes a criar e executar processos eficientes em nossa plataforma rápida, intuitiva e poderosa."></app-partners-card>
    </div>
  </div>
</div>
