<div class="mdc-layout-grid products-tags">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12-desktop tag mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h2 class="title">Vamos construir juntos</h2>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop tag mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-products-tags-item title="Produtos sustentáveis" text="Produtos de sucesso são desenvolvidos por empreendedores conscientes." icon="loop"></app-products-tags-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop tag mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-products-tags-item title="Comunicação integrada" text="Uma empresa que se entende, comunica o que precisa." icon="record_voice_over"></app-products-tags-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop tag mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-products-tags-item title="Venda efetiva" text="A venda acontece nos detalhes." icon="monetization_on"></app-products-tags-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop tag mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-products-tags-item title="Financeiro equacionado" text="O fluxo de caixa viabiliza negócios." icon="iso"></app-products-tags-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop tag mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-products-tags-item title="Contabilidade legítima" text="Quem segue regras evita surpresas." icon="pan_tool"></app-products-tags-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop tag mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-products-tags-item title="Contratos bem feitos" text="Contratos bem feitos fortalecem negócios." icon="thumb_up_alt"></app-products-tags-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop tag mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-products-tags-item title="Fornecedores comprometidos" text="Fornecedores te acompanham na vitória." icon="how_to_reg"></app-products-tags-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop tag mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-products-tags-item title="Colaboradores qualificados" text="Colaboradores satisfeitos, projetos entregues." icon="school"></app-products-tags-item>
    </div>
  </div>
</div>
