<div class="mdc-layout-grid background">
  <div class="mdc-layout-grid__inner">
    <div class="column">
      <div class="footer black-bg">
        <h6 class="title">Parceiros</h6>
        <a href="https://eepurl.com/dPcB3D">Mailchimp</a>
        <a href="https://app.pipedrive.com/affiliate/CA-SOBTIC?utm_content=sobTIC&utm_medium=copy_text&utm_source=partners_program">Pipedrive</a>
        <a href="https://contabilidade.contaazul.com/pub/invitation/invitation.html?affiliatecode=a33b9d09-f342-05ce-dee7-cd54f5aa8523&a_aid=5324&a_cid=5f499424">Conta Azul</a>
        <a href="https://www.pipefy.com/">Pipefy</a>
      </div>
    </div>
    <div class="column">
      <div class="footer black-bg">
        <h6 class="title">Soluções</h6>
        <a routerLink="/solucoes/gestao-de-marketing-com-mailchimp">Gestão de Marketing</a>
        <a routerLink="/solucoes/gestao-de-vendas-com-pipedrive">Gestão de Vendas</a>
        <a routerLink="/solucoes/gestao-financeira-com-contaazul">Gestão Financeira</a>
        <a routerLink="/solucoes/gestao-operacional-com-pipefy">Gestão Operacional</a>
      </div>
    </div>
    <div class="column">
      <div class="footer black-bg">
        <h6 class="title">Capacitações</h6>
        <a href="https://academy.sobtic.com.br/pipedrive-na-pratica">Pipedrive na Prática</a>
      </div>
    </div>
    <div class="column">
      <div class="footer black-bg">
        <h6 class="title">Interaja</h6>
        <a href="https://www.facebook.com/sobTIC/">Facebook</a>
        <a href="https://www.linkedin.com/company/sobtic/about/">LinkedIn</a>
      </div>
    </div>
    <div class="profile mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet">
      <div class="footer white-bg">
        <h6 class="title">E-mail</h6>
        <a class="link profile-link">contato@sobtic.com.br</a>
        <h6 class="title">Telefone</h6>
        <a class="link profile-link">+55 (11) 2186-0390</a>
        <h6 class="title">Endereço</h6>
        <a class="link profile-link">Avenida Paulista, 854 - Andar 10, Bela Vista,<br/>São Paulo - SP,<br/>CEP: 01310-100</a>
      </div>
    </div>
  </div>
</div>
<div class="background border">
  <span class="copyright">© Copyright 2019 sobTIC. Todos os direitos reservados.</span>
</div>


