<div class="products-pages">
  <app-head title="{{data.title}}" text="{{data.description}}"></app-head>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>

      <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone products-list">
        <app-products-mapping [content]="data.mapping"></app-products-mapping>
      </div>

      <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>
      <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>

      <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone products-list">
        <app-products-modeling [content]="data.modeling"></app-products-modeling>
      </div>

      <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>
      <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>

      <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone products-list">
        <app-products-integration [content]="data.integration"></app-products-integration>
      </div>

      <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>
      <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>

      <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone products-list">
        <app-products-improvement [content]="data.improvement"></app-products-improvement>
      </div>

      <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>

      <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>
      <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
        <app-products-promo-text text="{{data.promo}}"></app-products-promo-text>
      </div>
      <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>
      <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet"></div>
      <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet"></div>
    </div>
  </div>
</div>
<app-footer></app-footer>
