<div class="mdc-layout-grid process-works">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h2 class="compromise-head">Como funciona</h2>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-item title="Mapeamento" subtitle="Desenvolvemos um estudo de caso baseado nos processos existentes no negócio." [arrow]="true"></app-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-item title="Modelagem" subtitle="Transpomos o estudo de caso para um cenário viável." [arrow]="true"></app-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-item title="Integração" subtitle="Integramos processos, pessoas e ferramentas." [arrow]="true"></app-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-item title="Melhoria" subtitle="Disponibilizamos equipe multidiciplinar qualificada e alinhada com a entrega."></app-item>
    </div>
  </div>
</div>
