@import "~@angular-mdc/theme/material-components-web/layout-grid/mdc-layout-grid";

.head {
  padding-top: 136px;
  background-color: #F7F7F7;
  background-image: url('/assets/white-halflogo.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
}
