<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>

    <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone products-list">
      <div class="card-img">
        <app-products-img imgSource="assets/products/product-1.svg"></app-products-img>
      </div>
      <div class="card-text">
        <app-products-text title="Mapeamento" text="Iniciamos uma jornada de entendimento do processo administrativo, identificando oportunidades e ameças, para otimizar a utilização dos recursos da empresa."></app-products-text>
      </div>
    </div>

    <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>
    <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>

    <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone products-list">

        <div class="card-text card-text-order">
        <app-products-text title="Modelagem" text="Estruturamos a estratégia administrativa aos indicadores financeiros e contábeis, viabilizando o monitoramento e controle dos recursos empresariais, por meio do alinhamento das receitas e despesas com a contabilidade."></app-products-text>
      </div>
      <div class="card-img card-img-order">
        <app-products-img imgSource="assets/products/product-2.svg"></app-products-img>
      </div>
    </div>

    <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>
    <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>

    <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone products-list">
      <div class="card-img">
        <app-products-img imgSource="assets/products/product-3.svg"></app-products-img>
      </div>
      <div class="card-text">
        <app-products-text title="Integração" text="Implementamos o processo administrativo, integrando o processo de vendas e operacional, adequando as ferramentas as rotinas das áreas da empresa."></app-products-text>
      </div>
    </div>

    <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>
    <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>

    <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone products-list">

        <div class="card-text card-text-order">
        <app-products-text title="Melhoria" text="Acompanhamos o desenvolvimento da estratégia analisando os indicadores por meio das ferramentas, apoiando a empresa na tomada de decisão."></app-products-text>
      </div>
      <div class="card-img card-img-order">
        <app-products-img imgSource="assets/products/product-4.svg"></app-products-img>
      </div>
    </div>

    <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet"></div>

    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-1-tablet"></div>
    <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="title-footer">
        <h1 class="title">Transforme coisas em informação.</h1>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-1-tablet"></div>
    <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet"></div>
    <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet"></div>
  </div>
</div>
