<div class="mdc-layout-grid compromise">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h2 class="compromise-head">Nosso Compromisso</h2>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-item title="Serviço Excepcional" subtitle="Conduzir a estratégia empresarial em conformidade com as possíbilidades técnicas."></app-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-item title="Preço Justo" subtitle="Disponibilizar a percepcção de valor agregado na aquisição do serviço."></app-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-item title="Custo Sustentável" subtitle="Viabilizar o entendimento do processo de gestão para atender os objetivos de negócio."></app-item>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <app-item title="Tecnicamente Viável" subtitle="Disponibilizar equipe multidisciplinar qualificada e alinhada com a entrega."></app-item>
    </div>
  </div>
</div>
