<div class="mdc-layout-grid head">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
      <h1 class="title">Construa Valor</h1>
      <h1 class="subtitle">Desenvolva inovação na gestão do seu negócio</h1>
      <p class="body">
        Por meio de um <a routerLink="/processo">PROCESSO</a> de 4 etapas
        e <a routerLink="/parceiros">FERRAMENTAS</a> estratégicas,
        entregamos <a routerLink="/solucoes">SOLUÇÕES INOVADORAS</a> de gestão empresarial
        que capacitam <a routerLink="/clientes">CLIENTES</a> exigentes.
      </p>
    </div>
    <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-2-tablet no-mobile"></div>
    <div class="mdc-layout-grid__cell--span-4-phone">
    </div>
  </div>
</div>
