<div class="process">
  <div class="head">
    <app-head-shared title="fases consistentes" text="Por meio do processo de gestão empresarial 360º,
        mapeamos os processos de negócio, modelamos cenários para integrar pessoas a ferramentas,
        viabilizando um ciclo de melhoria contínua."></app-head-shared>
  </div>
  <div class="mdc-layout-grid process-card">
    <div class="mdc-layout-grid__inner process-card-margin">
      <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <app-process-card title="Mapeamento" text="Tem como objetivo, entender o negócio e documentar os pontos de mudança." icon="description"></app-process-card>
      </div>
      <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <app-process-card title="Modelagem" text="Na fase de modelagem, abordamos os pontos de mudança levantados e elaboramos o plano de ação para viabilizar a entrega." icon="settings"></app-process-card>
      </div>
      <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <app-process-card title="Integração" text="Integramos as competências aos processos, com ferramentas adequadas às necessidades do negócio." icon="share"></app-process-card>
      </div>
      <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <app-process-card title="Melhoria" text="Viabilizamos o crescimento contínuo do negócio, por meio da avaliação dos indicadores e definição dos próximos passos para sustentabilidade da gestão empresarial." icon="restore_page"></app-process-card>
      </div>
    </div>
  </div>
  <app-process-works></app-process-works>
  <div class="white-bg"></div>
</div>
<app-footer></app-footer>
