<div class="mdc-layout-grid seal-list">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12-desktop  mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h2 class="title">Qualidade de entrega</h2>
    </div>
    <div class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-4-phone no-mobile"></div>
    <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-phone flex">
      <div class="no-tablet mdc-layout-grid__cell--span-1-phone flex"></div>
      <img class="pipedrive" src="assets/partners/pipedrive-partner-badge.svg" draggable="false">
    </div>
    <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-4-phone"></div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone flex">
      <img class="pipefy" src="assets/partners/pipefy-partner-badge.svg" draggable="false">
    </div>
    <div class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-4-phone no-mobile"></div>
  </div>
</div>
<div class="gray-margin"></div>
