<div class="mdc-layout-grid products-list">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-3-desktop card mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <a [routerLink]="['/solucoes/gestao-de-marketing-com-mailchimp']"><app-products-item title="Gestão de Marketing" logo="assets/minilogos/minilogo-mailchimp.svg" subtitle="com Mailchimp" text="Conquistaremos a audiência de quem quer te ouvir."></app-products-item></a>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop card mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <a [routerLink]="['/solucoes/gestao-de-vendas-com-pipedrive']"><app-products-item title="Gestão de Vendas" logo="assets/minilogos/minilogo-pipedrive.svg" subtitle="com Pipedrive" text="Direcionaremos o foco da sua venda para o resultado."></app-products-item></a>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop card mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <a [routerLink]="['/solucoes/gestao-financeira-com-contaazul']"><app-products-item title="Gestão Financeira" logo="assets/minilogos/minilogo-contaazul.svg" subtitle="com ContaAzul" text="Trabalharemos os recursos de forma sustentável."></app-products-item></a>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop card mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <a [routerLink]="['/solucoes/gestao-operacional-com-pipefy']"><app-products-item title="Gestão Operacional" logo="assets/minilogos/minilogo-pipefy.svg" subtitle="com Pipefy" text="Obteremos processos com performance."></app-products-item></a>
    </div>
  </div>
</div>
